doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    if errorMessage
      script.
        //JS to show error message
        alert("#{errorMessage}");
  body
    header
      if typeof userId !== 'undefined' && userId
        div(style="position: absolute; top: 10px; right: 10px;")
          form(action="/auth/logout" method="GET")
            button(type="submit") Log out
      else
        div(style="position: absolute; top: 10px; right: 10px;")
          a(href="/auth/login") Log in
      if typeof userRole !== 'undefined' && userRole === 'referee'
        div(style="position: absolute; top: 10px; right: 90px;")
          form(action="/teams/add" method="GET")
            button(type="submit") Add team
    block content
